{% extends "server/base.html" %}

{% block title %}SEoTトップページ{% endblock title %}
{% block content %}
    {% csrf_token %}
    {% load static %}
    <p>hello {{ request.user.username }}</p>
    <table>
    {% for app in app_list %}
        <tr>
            <td>{{ app.name  }}</td>
            {% if app.status == 1 %}
                <td>
                    {% if waiting == False %}
                        <a href="{% url 'app_launch' app.id%}">
                            <button>launch</button>
                        </a>
                    {% else %}
                        <a href="{% url 'app_launch' app.id%}">
                            <button disabled>launch</button>
                        </a>
                    {% endif %}
                </td>
                <td>idle</td>
            {% elif app.status == 2 %}
                <td><img src="{% static 'files/loading.gif'  %}"></td>
                <td>launching</td>
            {% elif app.status == 3 %}
                <td>
                    {% if waiting == False %}
                        <a href="{% url 'app_stop' app.id  %}">
                            <button>stop</button>
                        </a>
                    {% else %}
                        <a href="{% url 'app_stop' app.id  %}">
                            <button disabled>stop</button>
                        </a>
                    {% endif %}
                </td>
                <td>runnning</td>
            {% elif app.status == 4 %}
                <td><img src="{% static 'files/loading.gif'  %}"></td>
                <td>stopping</td>
            {% else %}
                <td></td>
                <td>error: invalid status</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>

    <p><a href="{% url 'upload_file' %}">ファイルアップロード</a></p>

    <script>
        setTimeout(function(){location.reload()}, 5000);
    </script>
{% endblock content %}
